body {
  background-color: gray;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.estandarte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

footer {
    background-color: black;
    color: white;
}

footer p {
    text-align: center;
}